<strong>Recuperando senha</strong>

<p>Uma recuperação de senha foi solicitada para este email: {{ email }}</p>
<p>Se você não solicitou nenhuma recuperação, desconsidere essa menssagem</p>

<p>
  Para continuar com a recuperação de senha, utilize: {{ token }} ou clique no link:
  <a href='{{link}}'>Recuperar Senha</a>
</p>
